<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link rel="stylesheet" th:href="@{/css/main.css}" >
    <title th:text="${dinner.name}">Nazwa potrawy</title>
</head>

<body>



<div class="container text-center">
    <div class=" col-lg-10 offset-lg-1" >
        <div class="shadow-lg p-3 mb-5 bg-white rounded">
            <img  src="../static/img/homee.jpg" th:src="@{${dinner.url}}" class="img-fluid" alt="obraz"/>
            <h1  th:text="${dinner.name}"></h1>
            <h4 th:text="${dinner.fullDescription}"></h4>
        </div>
    </div>
</div>








</body>
</html>