<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link rel="stylesheet" th:href="@{/css/main.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/icon/pizza/flaticon.css}">
    <title>Zamów jedzonko!</title>
</head>
<body>


<div  align="center" class="jumbotron home-jumbo container text-white">
    <h1 class="display-5">Witaj!</h1>
    <h3 >Zamów jedzenie z dostawą do domu</h3>
    <a th:href="@{/order/}" class="btn btn-primary" role="button" >Sprawdź swoje zamówienie</a>
</div>
<br>
<div class="container">

    <div>
        <div class="media col-6 offset-1" th:each="item: ${food}">
            <i class="flaticon-pizza"></i>
            <div class="media-body">
                <h5><a th:href="@{|/food/${#strings.replace(item.name,' ','-')}|}" th:text="|${item.name}(${item.price}zł)|"></a></h5>
                <p th:text="${item.quickDescription}">Opis</p>
                <a class="btn btn-primary" th:href="@{/order/add(id=${item.id})}" role="button">Dodaj do zamówienia</a>
            </div>
        </div>

    </div>
</div>

</body>
</html>



